header {
  background-color: #ffcc99;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main {
  display: flex;
  background-color: #e6f2ff;
}

aside {
  background-color: #b3d9ff;
  flex: 1;
  border: 1px solid #ccc;
}

section {
  flex: 3;
  margin: 20px;
}

footer {
  background-color: #99cc99;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid #ccc;
}

h1 {
  text-align: center;
}
